{% extends "base.html" %}

{% block main %}
<div class="container">
<h1>Welcome to About Us!</h1>
<p>We are a group of passionate beer enthusiests who are currently enrolled in NMSU.  Our goal is to give you all the latest and greatest information stolen from other sites who have painstakingly created, sorted, and organized all there is to know about beer and brewweries around the Unites States.  
</p>
<p>Ultimatley, this is a practice site to learn how to use Git, Github, Jinja, Flask, and Python, environments, with a little CSS and HTML thrown in for good measure.  So kick back, stay a while and let me know if you find any horrifying mistakes.  Hey, if you can read this, at least you'll know the site itself didn't fail catistrophically, so that's a plus.  
</p>
</div> 
{% endblock main %}
